#root {
    /* Set the background of the entire app */
    --ion-background-color: #fff;
  }

  ion-header {
    --ion-background-color: #fff;
  }

  ion-toolbar {
    --ion-background-color: #fff;
  }

  .email-icon {
    --ion-background-color: #222222;
  }

  ion-searchbar {
    width: 3vh;
  }

  .header {
    margin: auto;
    text-align: center;
    font-family: brandon-grotesque;
  }
  

